doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title KVAR TECHNOLOGIES
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='/assets/img/logo.png' rel='icon')
  link(href='/assets/img/logo.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,800' rel='stylesheet')
  // Vendor CSS Files
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='/assets/css/style.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: FlexStart - v1.9.0
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
// ======= Header =======
header#header.header.fixed-top
  .container-fluid.container-xl.d-flex.align-items-center.justify-content-between
    a.logo.d-flex.align-items-center(href='/')
      img(src='/assets/img/KVAR_Website_Logo-07 (1).png' alt='')
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto.active(href='/') Home
        li
          a.nav-link.scrollto(href='/about') About Us
        li.nav-item.dropdown.has-megamenu
          a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown')  Products  
          .dropdown-menu.megamenu(role='menu')
            .row.g-3
              .col-lg-3.col-6
                .col-megamenu
                  h6.title &nbsp;AMPER HOUR METER
                  a(href='#') IM2501
                  a(href='#') IM2502C
                  a(href='#') IM2503
                  a(href='#') IM2505
                  a(href='#') IM2506
                // col-megamenu.//
              // end col-3
              .col-lg-3.col-6
                .col-megamenu
                  h6.title Title Menu Four
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                // col-megamenu.//
              // end col-3
              .col-lg-3.col-6
                .col-megamenu
                  h6.title Title Menu Four
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                // col-megamenu.//
              .col-lg-3.col-6
                .col-megamenu
                  h6.title Title Menu Four
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                  a(href='#') Custom Menu
                // col-megamenu.//
              // end col-3
            // end row
          // dropdown-mega-menu.//
        li
          a.nav-link.scrollto(href='/contact') Contact Us
        li
          a(href='/blogs') Blog
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header
block content
block footer 
 footer#footer.footer
   .footer-top
     .container
       .row.gy-4
         .col-lg-5.col-md-12.footer-info
           a.logo.d-flex.align-items-center(href='/')
             img(src='/assets/img/logo.png' alt='')
             span KVAR&nbsp;TECH
           p
             | KVAR Technologies is engaged in the design, development and manufacture of embedded / micro controller based products primarily for industrial applications.
           .social-links.mt-3
             a.facebook(href='#')
               i.bi.bi-facebook
             a.instagram(href='#')
               i.bi.bi-instagram
             a.linkedin(href='#')
               i.bi.bi-linkedin
         .col-lg-2.col-6.footer-links
           h4 Useful Links
           ul
             li
               i.bi.bi-chevron-right
               a(href='/') Home
             li
               i.bi.bi-chevron-right
               a(href='/about') About us
             li
               i.bi.bi-chevron-right
               a(href='#') Services
             li
               i.bi.bi-chevron-right
               a(href='#') Terms of service
             li
               i.bi.bi-chevron-right
               a(href='#') Privacy policy
         .col-lg-2.col-6.footer-links
           h4 Our Services
           ul
             li
               i.bi.bi-chevron-right
               a(href='#') Web Design
             li
               i.bi.bi-chevron-right
               a(href='#') Web Development
             li
               i.bi.bi-chevron-right
               a(href='#') Product Management
             li
               i.bi.bi-chevron-right
               a(href='#') Marketing
             li
               i.bi.bi-chevron-right
               a(href='#') Graphic Design
         .col-lg-3.col-md-12.footer-contact.text-center.text-md-start
           h4 Contact Us
           p
             | KVAR Technologies Pvt Ltd
             br
             |               68,Kakad Ind Estate,L.J crossing Rd No.3
             br
             |               Mahim West, Mumbai 400 016
             br
             |               Mahrashtra, India 
             br
             br
             strong Phone:
             |  (022) 2431 2031
             br
             strong Email:
             |  sales@kvartech.com
             br
   .container
     .copyright
       | &copy; Copyright 
       strong
         span KVAR TECH
       | . All Rights Reserved
     .credits
       // All the links in the footer should remain intact.
       // You can delete the links only if you purchased the pro version.
       // Licensing information: https://bootstrapmade.com/license/
       // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
       | Designed by 
       a(href='https://bootstrapmade.com/') BootstrapMade
 // End Footer
 a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
   i.bi.bi-arrow-up-short
 // Vendor JS Files
 script(src='/assets/vendor/purecounter/purecounter.js')
 script(src='/assets/vendor/aos/aos.js')
 script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
 script(src='/assets/vendor/glightbox/js/glightbox.min.js')
 script(src='/assets/vendor/isotope-layout/isotope.pkgd.min.js')
 script(src='/assets/vendor/swiper/swiper-bundle.min.js')
 script(src='/assets/vendor/php-email-form/validate.js')
 // Template Main JS File
 script(src='/assets/js/main.js')